.card {
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px;
}

.card:hover {
  transform: scale(1.03);
  transition: .5s;
}

.card-list {
  width: 35vw;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
padding-right: 40px;
}

.form {
  margin-left: 35%
}

.form Input {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: none
}
section {
  color: #black;
  text-align: center;
}

div {
  height: 100%;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

a {
  color: rgb(142, 39, 11);
}
a:hover {
  color: rgb(241, 136, 12);
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 40%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 60%;
}

.tab-form Input{
  background-color: white;
  font-size: 24px;
  padding: 10px 10px 10px 5px;
  margin: 25px 0;
}
.delete-button {
  max-height: 50px;
  margin-left: 10%!important;
  color:rgb(13, 60, 57)!important;
  border: none!important;
  float: right!important;
}
.tab-delete-button {
  max-height: 50px;
  margin-left: 10%!important;
  color:rgb(13, 60, 57)!important;
  border: none!important;
}

button {
  margin-left: 25px;
  color: green;
  background: black;
  font-size: 1rem;
  position: absolute;
  right:    0;
  bottom:   0;
}
#expand-panel {
  margin-left: 35%;
  margin-top: 20px;
  width: 30%;
  box-shadow: 1px 1px 1px grey;
  background-color: rgba(218, 231, 242, 0.4);
}
#expand-panel:hover {
  background-color: rgba(218, 221, 242, 0.4);
  transform: scale(1.03);
}

h1 {
  text-align: center;
}

.links{
  display: flex;
  justify-content: space-around;
}

#groceries li {
  max-width: 20%;
  margin-left: 30%;
  text-align: center;
  list-style: none;
}

.calendar {
  margin-top: 60px;
  margin-left: 37%;
}

.home-heading {
  text-align: center;
}
