.form {
  margin-left: 30%
}

.form Input {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: none
}
.delete-button {
  max-height: 50px;
  margin-left: 10%!important;
  color:red!important;
}

button {
  margin-left: 25px;
  color: green;
  background: black;
  font-size: 1rem;
}
#expand-panel {
  margin-left: 35%;
  margin-top: 20px;
  width: 30%;
  box-shadow: 1px 1px 1px grey;
  background-color: rgba(218, 231, 242, 0.4);
}
#expand-panel:hover {
  background-color: rgba(218, 221, 242, 0.4);
  transform: scale(1.03);
}

h1 {
  text-align: center;
}

.links{
  display: flex;
  justify-content: space-around;
}
